@* @model Final_project.Models.User *@
@model User

<h1>Register New User</h1>

@*<form asp-action="Register">*@
  <form asp-action="Register" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>    

    <div class="form-group mt-4">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group my-5">
        <input type="submit" value="Register" class="btn btn-success" />
        <a asp-controller="User" asp-action="Login" class="btn btn-secondary">Already have an account? Login</a>
    </div>

</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
